name: mrpack auto release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*Release"
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Create mrpack
      run: |
        zip -qr ./modpack.mrpack . -x ".git" ".github" "README.md" 
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ github.ref_name }}
        name: "${{ github.ref_name }}"
        artifacts: "modpack.mrpack"
