name: mrpack auto release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*Release"
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Create mrpack
      run: |
        zip -qr ../modpack.mrpack \
          . -x "libraries/*" "crash-reports/*" "logs/*" "saves/*" "*.lock"
        
        VERSION="${{ github.ref_name }}"
        
        unzip ../modpack.mrpack -d ../temp/
        cat > ../temp/modrinth.index.json << EOF
        {
          "formatVersion": 1,
          "game": "minecraft",
          "versionId": "$VERSION",
          "name": "DustPack",
          "dependencies": {
            "minecraft": "1.20.1",
            "fabric-loader": ">=0.18.0"
          }
        }
        EOF
        cd ../temp
        zip -qr ../modpack.mrpack .

    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ github.ref_name }}
        name: "${{ github.ref_name }}"
        artifacts: "modpack.mrpack"
